{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}

   <a href="{{ path('app_product_index') }}" class="back">
    <i class="fa-solid fa-left-long"></i>
    </a>

    <h1>Ajouter un produit</h1>

    <div class="editContainer">
    {{ include('product/_form.html.twig') }}
    </div>
    
{% endblock %}
